$font-path: "../../../assets/fonts/" !default;
@mixin hpFont($fileName) {
    @font-face {
        font-family: "#{$fileName}";
        src: url("#{$font-path}#{$fileName}.eot");
        src: url("#{$font-path}#{$fileName}.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}#{$fileName}.woff2") format("woff2"),
        url("#{$font-path}#{$fileName}.woff") format("woff"),
        url("#{$font-path}#{$fileName}.ttf") format("truetype"),
        url("#{$font-path}#{$fileName}.svg#HP Simplified W10 Light") format("svg");
    }
}