body {
    @font-face {
        font-family: "HP Simplified";
        src: url("./assets/fonts/HP Simplified.eot");
        src: url("./assets/fonts/HP Simplified.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/HP Simplified.woff2") format("woff2"), url("./assets/fonts/HP Simplified.woff") format("woff"), url("./assets/fonts/HP Simplified.ttf") format("truetype"), url("./assets/fonts/HP Simplified.svg#HP Simplified") format("svg");
    }
}