@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// @import url('//db.onlinewebfonts.com/c/d5600cfdfe4585a9cda14e38fb500cb4?family=HP+Simplified+W10+Light');
// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
// loading progress bar theme
@import './pace.theme';
@import './layout';
@import './overrides';
@import './variables';
// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();
    @include ngx-layout();
    // loading progress bar
    @include ngx-pace-theme();
    @include nb-overrides();
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
i,
a {
    // font-family: 'HP Simplified W10 Light' !important;
    font-size: calc(0.5em + 0.5vw)
}

// SIDE BAR MENU STYLES
.nb-theme-default .menu-sidebar .scrollable {
    background: $primary_clr !important;
}

.nb-theme-default .scrollable {
    padding-top: 0rem !important;
    .toggle_link {
        padding: 10px 0 10px 0;
        margin: 0 -20px 0 -20px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        ;
        span {
            color: $menu_txt_clr;
            font-size: 12px;
            margin-left: 1rem;
        }
        a {
            float: right;
            color: $menu_txt_clr;
            margin-right: 1rem;
        }
    }
}

.nb-theme-default .menu-sidebar {
    ul.menu-items {
        width: 100% !important;
        li.menu-item {
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            .expand-state {
                color: $menu_txt_clr;
            }
            a {
                color: $menu_txt_clr;
                font-weight: 600;
                .menu-icon {
                    color: $menu_txt_clr;
                }
            }
            ul.menu-items {
                margin: 0 0 10px 0;
            }
            ul.menu-items>li.menu-item {
                border: none;
                a {
                    color: $menu_txt_clr;
                    padding: 0.2rem 1.7rem;
                }
                a.active {
                    color: $menu_txt_clr;
                    background-color: $menuActiveBgClr;
                    border-radius: 8px;
                    line-height: 20px;
                }
            }
        }
        & a.active {
            color: $menu_txt_clr;
            .menu-icon {
                color: $menu_txt_clr;
            }
        }
        & a.active::before {
            background: $bg_clr !important;
        }
    }
}

.nb-theme-default a {
    color: #fff;
}

a.my-2 {
    color: $primary_clr !important;
    margin-left: 20px;
}

.img-responsive {
    width: 100%;
}

nb-layout-column {
    background-image: url('../../../assets/images/ellipse_bg.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom -200px left -210px;
}