<div class="home_cont">

    <div class="row">
        <div class="col">
            <nb-alert status="danger" class="text-center">MPO only supports single window. Please do not log on with multiple windows. Thank You!</nb-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span>Welcome to</span>
            <h3 class="jumbotron-heading">MARKET PRICE OPTIMIZATION</h3>
            <p class="lead">The MPO application is used to support price management through several functions and has many modules. </p>
            <p>
                <a href="#" class="btn btn-primary">MORE ABOUT MPO</a>
                <a href="#" class="my-2">NEED HELP?</a>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center">
            <img src="./assets/images/laptop.svg" class="img-responsive">
        </div>
    </div>
</div>