<div class="row">
    <div class="col">
        <nb-alert status="warning" class="text-center">MPO only supports single window. Please do not log on with multiple windows. Thank You!</nb-alert>
    </div>
</div>
<div class="row">
    <div class="col">
        <span>Welcome to</span>
        <h2 class="jumbotron-heading">MARKET PRICE OPTIMIZATION</h2>
        <p class="lead text-muted">The MPO application is used to support price management through several functions and has many modules. </p>
        <p>
            <a href="#" class="btn btn-primary my-2">MORE ABOUT MPO</a>
            <a href="#" class="my-2">NEED HELP?</a>
        </p>
    </div>
    <div class="col"></div>
    <div class="col text-center">
        <img src="./assets/images/laptop.svg">
    </div>
</div>